body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

.A1{
    display: flex;
    flex-direction: row;
}

.B1{
    width: 15vw;
    max-width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 3px;
}

h1{
    text-align: center;
    font-size: 7vw;
    margin-left: 8px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.B2{
    width: 1vw;
    max-width: 10px;
    background-color: rgba(22, 99, 216, 0.658);
}

.C1 img{
    margin-top: 0;
    margin-left: 20px;
}

.B3 img{
    margin: 30px;
    padding: 5px;
    background-color: white;
    width: 20vw;
    max-width: 200px;
}

p{
    margin-top: 30px;
}

.B31{
    display: flex;
    flex-direction: row;
}

.B32{
    width: 84vw;
    height: 3px;
    background-color: white;
}