body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./图片/主页背景图2.png);
}

.A1{
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 16px;
    font-size: 200%;
    font-weight: lighter;
    text-align: center;
}

.B1{
    border: 2px black solid;
    width: 70%;
    
}

.B2{
    border: 2px black solid;
    border-top: 0;
    width: 40%;
}

.B3{
    border: 2px black solid;
    border-top: 0;
    width: 40%;
}

.B1:hover{
    box-shadow: 4px 0 5px black;
}

.B2:hover{
    box-shadow: 4px 0 5px black;
}

.B3:hover{
    box-shadow: 4px 4px 5px black;
}

a{
    color: black;
    text-decoration: none;
}

.ps a{
    color: rgba(43, 131, 247, 0.527);
}

